/* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */

@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;
}

:root {
  /* primary */
  --Light-red: hsla(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  /* gradients */
  --Light-slate-blue-background: hsl(252, 100%, 67%);
  --Light-royal-blue-background: hsl(241, 81%, 54%);
  --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --Persian-blue-circle: hsla(241, 72%, 46%, 0);

  /* neutral */
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Pale-blue);
}

/* card */
.card {
  width: 650px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
}

/* result */
.card .result {
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--Light-slate-blue-background),
    var(--Light-royal-blue-background)
  );
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.result .result-title {
  color: var(--Light-lavender);
  margin-bottom: 1rem;
  font-weight: 700;
}

.result .score-circle {
  width: 150px;
  height: 150px;
  background: linear-gradient(
    to bottom,
    var(--Violet-blue-circle),
    var(--Persian-blue-circle)
  );
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-circle .score {
  color: var(--White);
  font-size: 4rem;
  font-weight: 800;
}

.score-circle > p {
  color: var(--Light-lavender);
  opacity: 0.6;
}

.result .great {
  color: var(--White);
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.result .info {
  color: var(--Light-lavender);
  width: 200px;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 30px;
}

/* summary */
.summary {
  width: 50%;
  padding: 24px;
}

.summary .summary-title {
  margin: 12px 0 30px 0;
  opacity: 0.75;
}

.summary p {
  color: var(--gray-blue);
  opacity: 0.7;
}

.summary .bold {
  font-size: 1rem;
  font-weight: 700;
  color: var(--gray-blue);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 40px);
  row-gap: 35px;
}

.reaction {
  background-color: hsla(0, 100%, 67%, 0.09);
  padding: 24px 12px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reaction-left {
  display: flex;
}

.reaction-left h4 {
  color: var(--Light-red);
  margin-left: 8px;
  opacity: 0.85;
}

.memory {
  background-color: hsla(39, 100%, 56%, 0.09);
  padding: 24px 12px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.memory-left {
  display: flex;
}

.memory-left h4 {
  color: var(--Orangey-yellow);
  margin-left: 8px;
  opacity: 0.85;
}

.verbal {
  background-color: hsla(166, 100%, 37%, 0.09);
  padding: 24px 12px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.verbal-left {
  display: flex;
}

.verbal-left h4 {
  color: var(--Green-teal);
  margin-left: 8px;
  opacity: 0.85;
}

.visual {
  background-color: hsla(234, 85%, 45%, 0.09);
  padding: 24px 12px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visual-left {
  display: flex;
}

.visual-left h4 {
  color: var(--Cobalt-blue);
  margin-left: 8px;
  opacity: 0.85;
}

.btn {
  margin-top: 45px;
  padding: 1rem;
  width: 100%;
  border: none;
  border-radius: 100px;
  background-color: var(--Dark-gray-blue);
  opacity: 0.9;
  color: var(--White);
  font-size: 1rem;
  font-weight: 500;
}

.btn:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .card {
    width: 600px;
    height: 450px;
  }

  .btn {
    margin-top: 30px;
  }
}

@media (max-width: 375px) {
  .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }

  .card .result,
  .summary {
    width: 100%;
  }

  .card .result {
    border-radius: 0 0 2rem 2rem;
  }
}
