@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 16px;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 64px 0;
}

.navbar .left {
  font-size: 32px;
  font-weight: 700;
}

.navbar .right {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .right a {
  text-decoration: none;
  color: #000;
}

.navbar .right a:hover {
  text-decoration: underline;
}

.navbar .right img {
  width: 24px;
  height: 24px;
}

.navbar .hamburger {
  width: 50px;
  height: 50px;
  display: none;
}

.navbar .bar {
  background-color: #000;
  height: 4px;
  width: 36px;
  margin: 3px;
  border-radius: 10px;
}

/* grid */
.project-grid {
  width: 100%;
  display: grid;
  grid-template-areas:
    "eth eth alphabet"
    "eth eth traveler"
    "cube astro traveler"
    "cup insta insta"
    "cup insta insta"
    "foam foam dimensional"
    "foam foam dimensional";
  gap: 16px;
}

/* positioning */
#eth {
  grid-area: eth;
}

#alphabet {
  grid-area: alphabet;
}

#traveler {
  grid-area: traveler;
}

#astro {
  grid-area: astro;
}

#cube {
  grid-area: cube;
}

#cup {
  grid-area: cup;
}

#insta {
  grid-area: insta;
}

#foam {
  grid-area: foam;
}

#dimensional {
  grid-area: dimensional;
}

/* project */
.project {
  position: relative;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* overlay */
.project .overlay {
  background-color: rgba(255, 255, 255, 0.1);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2px;
  opacity: 0;
  transition: all 0.2s ease;
}

.project .overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.overlay.white {
  color: #fff;
}

/* footer */
.footer {
  text-align: center;
  padding: 64px;
}

/* media queries */
@media (max-width: 1100px) {
  .container {
    max-width: 100%;
  }

  .project-grid {
    grid-template-areas:
      "eth eth"
      "alphabet traveler"
      "cube astro"
      "cube astro"
      "insta insta"
      "cup foam"
      "dimensional dimensional";
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 16px 22px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #fff;
    width: 100%;
  }

  .navbar .right {
    display: none;
  }

  .navbar .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-grid {
    max-width: 100%;
    grid-template-areas:
      "eth eth"
      "alphabet alphabet"
      "traveler traveler"
      "cube astro"
      "insta insta"
      "cup cup"
      "foam foam"
      "dimensional dimensional";
    margin-top: 100px;
  }

  .project .overlay {
    font-size: 24px;
  }

  .footer {
    padding: 32px;
    font-size: 12px;
  }
}
